metadata:
  name: slow-io
provisioner: kubernetes.io/aws-ebs
parameters:
  type: io1
  iopsPerGB: "100"
  fsType: ext4

---

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
 name: stacey-claim
 annotations:
   volume.beta.kubernetes.io/storage-class: "slow-io"
spec:
 accessModes:
   - ReadWriteOnce
 resources:
   requests:
     storage: 4Gi


---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-music
  labels:
    app: ui
    tier: frontend
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0
  replicas: 2
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      labels:
        tier: frontend
    spec:
      containers:
      - name: spring-music
        image: "yanivomc/spring-music:latest"
        volumeMounts:
        - mountPath: "/var/www/html"
          name: pod-volume-html
      volumes:
      - name: pod-volume-html
        persistentVolumeClaim:
          claimName: stacey-claim
